@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Hind Siliguri' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f8fb;
}

*, *::before, *::after {
  box-sizing: border-box;
}
